################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/webz/.vs/Webz/v15/Server/sqlite3
